.cproject_org
.project_org
*.launch
.settings
Debug
Release
*.log
*.bin
*.sfb
*.sfbp
*.hex
Binary/
.vs
out/
# Include the Cipher key
!Cipher_Key_AES_CBC.bin

# TouchGFX libs may not be included in GitHub (according to ST)
**/ST/touchgfx/
# Audio-PDM libs may not be included in GitHub (according to ST)
**/Addons/PDM/

